body{
    font-family: 'sofia-pro',sans-serif;
    margin:0
}
.mapWrapper{
    /* You can change this height and width according to your needs */
    width: 100%;
    height: 600px;  

    /* height: 100%; */
}
.wrapper{
    height: 100%;
    padding: 0;
}
.fourthpart{
    width: 33.3333%;
    float: left;
}
.eighthpart{
    width:66.6666%;
}
#map{
    height: 100%;
}
.clearfix{
    clear: both
}
.listWrapper{
    width: 100%;
    height: 100%;
    position: relative;

}
.listWrapper header{
    /* height: 20%; */
    display: inline-block;
    width: 100%;
    
}
.listWrapper header .headWrapper{
    padding: 18px 3px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}
.listWrapper header .headWrapper input{
    height: 44px;
    font-size: 12px;
    width: 100%;
}
.headWrapper .inputWrapper{
    margin: 10px 15px;
}
.listWrapper main{
    height:calc(100% - (100px + 80px)); 
    border-bottom: 1px solid #ccc;
}
.listWrapper main .mainWrapper{
    height: 100%;
    overflow: auto;
}
.listWrapper footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.listWrapper footer .footerWrapper{
    height: 100%;
}
.footerwrap{
    display: block;
    padding: 25px 40px;
    padding-top: 22px;
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}
.footerwrap{
    color: black;
    text-decoration: none;
}
.footerwrap:hover{
    cursor: pointer;
    color: rgb(190, 92, 92)
}
.footerwrap .navigat{
    margin-top: -25px;
}
.listname{
    font-weight: bold;

}
li.MainList {
    list-style: none;
    padding: 35px 40px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}
li.MainList:hover{
    cursor: pointer
}
.navigat{
    font-weight: bolder;
    margin-top: -26px;
    margin-right: -16px;
}
.autocomplete-suggestions { padding: 10px 15px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: pointer; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.44); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; margin-top: 10px;}
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-size: 14px; color: #ccc; display: block; border-bottom: 1px solid #eee;}

.autocomplete-suggestion:hover + .autocomplete-group, .autocomplete-group:hover + .autocomplete-suggestion{
    cursor: pointer!important;

}
.autocomplete-suggestion:hover {
    background: white;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 15px;
  pointer-events: none;
}

/* align icon */
.left-addon img  { 
    position: absolute;
    top:5px;
    left:  5px;
}

/* add padding  */
.left-addon input  { padding-left:  43px; }

.pull-right{
    float: right;
}
@media screen and (max-width:767px){
    .fourthpart{
        width: 100%;
        float: none;
        max-height: 650px;
    }
    .eighthpart{
        width:100%;
    }
    .mapWrapper{
        height: inherit
    }
}
